
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);


  .title {
    text-align: center;
  }

  /*.createclients-page {
    width: 500px;
    padding: 8% 0 0;
    margin-left: 40%;
  }*/

  .createclients-page, .editclients-page {
    width: 1000px;
    padding: 8% 0 0;
    margin-left: 26%;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 1215px;
    margin: 0 0 0 22%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    }
  .form input, #client_id, #work_type, #project_id, .project_id {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .style button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .style button:hover,.style button:active,.style button:focus{
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .custom{    
    max-width: 388px;
    margin-left: 35%;
  }

  button#add_client {
    margin: 29% 0 10% 155%;
  }

  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid black;
  }

  td, th {
    /*border: 2px solid black;*/
    padding: 10px;
  }

  #edit a {
    color: white;
  }

  input#edit_client, input#custom_submit, input#edit_tax {
      background: #41B314;
      color: white;
  }

  .required {
    color: red;
  }

  button#mtop_space {
    margin: 0 0 5% 0%;
  }

  .form .login-form form h3{  
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    padding: 1rem 0;
  }