/*@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 50px;
  margin-left: 15%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .counts{
  background: lightgrey;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #2a2222;  
  position: relative;
}

.team .counts h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .counts p.role {
  margin: 12px 0;
  padding-top: 35px;
  padding-bottom: 45px;
  font-size: 30px;
  text-transform: uppercase;
}

.team .counts .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .counts .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

button#add_client {
    margin: 0% 0 6% 1%;
    visibility: hidden;
}

#wrapper #sidebar-nav, #wrapper .main {
    padding-top: 36px;
}