@import url(https://fonts.googleapis.com/css?family=Roboto:300);


  .title {
    text-align: center;
  }

  .title img {
    width: 80px;
    height: 80px;
  }

  .login-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
  }

  .dataTables_wrapper {
    position: absolute !important;
  }

  .createclients-page, .editclients-page {
    width: 1000px;
    padding: 8% 0 0;
    margin-left: 26%;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 71%;
    margin: 0 0 0 22%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input, #client_id, #work_type {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .style button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /*background: #4CAF50;*/
    background: #fc4445;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .style button:hover,.style button:active,.style button:focus{
    /*background: #43A047;*/
    background: #fc4445;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .custom{    
    max-width: 388px;
    margin-left: 18%;
  }

  button#add_client {
    margin: 29% 0 10% 0%;
  }

  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid black;
  }

  td, th {
    /*border: 2px solid black;*/
    padding: 10px;
  }

  #edit a {
    color: white;
  }

  input#edit_client, input#custom_submit, input#edit_tax {
      background: #41B314;
      color: white;
  }

  .required {
    color: red;
  }

  button#mtop_space {
    margin: 0 0 5% 0%;
  }

  #rate_per_hour, .rate_per_hour{
    display:none;
  }

  .final{
    max-width: 100% !important;
    margin: 0 0 0 0 !important;
  }

#edit a {
    color: black;
}

.show_clients_custom{
  max-width: 388px;
    margin-left: 18%;
}

button#deleted {
    margin: 19% 0 0 12%;
}

/*.content{
  margin-top: 10%;
   max-width: 0; 
  background-color: white;
}*/
